{% extends 'base.html.twig' %}
{% block body %}
    {{ render(url('app_main_header'))}}

    <main class="max-w-sm mx-auto mt-3 mb-5">

        <div class="px-4 me-auto">
            <form action="">
                <div class="position-relative form-floating mt-3">
                    <input type="email" class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                           id="inputFloating" placeholder="Adresse email">
                    <label for="inputFloating" class="ms-3">Rechercher un membre</label>
                    <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                </div>
            </form>
        </div>

        <section class="liste mt-5 px-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item shadow-sm mb-2">
                    <a href="#" class="text-decoration-none text-secondary">
                        <div class="row g-2 d-flex align-items-center">
                            <div class="col-3">
                                <div
                                    data-controller="image-loader"
                                    data-image-loader-src-value="{{ asset('img/avatar/avatar_femme.png') }}"
                                    data-image-loader-native-src-value="asset://{{ asset('img/avatar/avatar_femme.png') }}"
                                    data-image-loader-preload-value="true"
                                >
                                    <img alt="" class="img-fluid">
                                </div>

                            </div>
                            <div class="col-9">
                                <h5 class="fsize-13 text-body mb-0 pb-0">AMOIKON Ama Eden Marie-Immaculée</h5>
                                <div class="fsize-12 text-color-main mb-0 pb-0">Equipe Régionale - CRA Communication</div>
                                <div class="text-muted fsize-12 fst-italic mt-0 pt-0">Abidjan (Les Requins)</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item shadow-sm">
                    <a href="#" class="text-decoration-none text-secondary">
                        <div class="row g-2 d-flex align-items-center">
                            <div class="col-3">
                                <div
                                    data-controller="image-loader"
                                    data-image-loader-src-value="{{ asset('img/avatar/avatar_homme.png') }}"
                                    data-image-loader-native-src-value="asset://{{ asset('img/avatar/avatar_homme.png') }}"
                                    data-image-loader-preload-value="true"
                                >
                                    <img alt="" class="img-fluid">
                                </div>

                            </div>
                            <div class="col-9">
                                <h5 class="fsize-13 text-body mb-0 pb-0">AMOIKON Ama Eden Marie-Immaculée</h5>
                                <div class="fsize-12 text-color-main mb-0 pb-0">Equipe Régionale - CRA Communication</div>
                                <div class="text-muted fsize-12 fw-light fst-italic mt-0 pt-0">Abidjan (Les Requins)</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>

    </main>
    {{ include('default/_nav.html.twig')}}
{% endblock %}
