{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="mx-w-sm mx-auto d-flex flex-column justify-content-center align-items-center">
            <img src="{{ asset('img/logo-scoutready.png') }}" alt="" class="img-fluid" style="width:250px">
            <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                <p class="px-4 text-center" style="font-size: 15px;">
                    Le numero de téléphone <b>{{ phone }}</b> est associé au(x) compte(s) :
                </p>

                <div class="px-4 mt-4 position-relative" data-controller="choix-profil">
                    {% for scout in scouts %}
                        <a href="{{ path('app_profil_selectionne', {'slug': scout.slug}) }}"
                           class="text-decoration-none text-secondary w-100"
                           data-action="click->choix-profil#select"
                           style="width: 100%">
                            <div class="card mb-3 shadow-sm w-100" style="width: 100%">
                                <div class="row g-0 d-flex align-items-center">
                                    <div class="col-3">
                                        <img src="{{ asset('img/avatar/avatar_homme.png') }}" alt=""
                                             class="img-fluid rounded-circle"
                                             style="width:80px; height:auto; object-fit:cover">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-body">
                                            <h5 class="card-title pb-0 mb-0 fsize-16">{{ scout.nom|upper }} {{ scout.prenom|title }}</h5>
                                            <div class="card-text pt-0 mt-0 fsize-13 fst-italic text-color-main fw-semibold">{{ scout.id|fonction_scoute|raw }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}



                    <a href="{{ path('app_inscription_choixregion') }}" class="px-4 w-100 text-decoration-none text-secondary">
                        <div class="bouton-ajout position-absolute end-0 fs-5 border rounded-circle shadow-sm me-3">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                    </a>

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block title %}

{% endblock %}

