{% extends 'base.html.twig' %}
{% block turbo_frame %}
    <turbo-frame id="main-frame">

        {% block body %}
            <header class="max-w-sm mx-auto px-2 py-3 sticky-top">
                <div class="row pt-4">
                    <div class="col-3">

                        <a href="{{ path('app_accueil') }}"
                           data-turbo-frame="_top"
                           class="retour"
                        >
                            <i class="bi bi-arrow-left fs-5"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <h5 class="fs-4">Champs d'activité</h5>
                    </div>
                </div>
            </header>

            <main class="max-w-sm mx-auto mt-3 mb-5" data-controller="header profil">
                <section class="avatar d-flex flex-column justify-content-center align-items-center mt-5 mb-5">
                    <div
                        data-controller="image-loader"
                        data-image-loader-src-value="{{ asset('uploads/champs/' ~ champ.media) }}"
                        data-image-loader-native-src-value="asset://{{ asset('uploads/champs/' ~ champ.media) }}"
                        data-image-loader-preload-value="true"
                    >
                        <img src="#" alt="" class="img img-fluid rounded-circle bg-main-30"
                             style="width: 130px;">
                    </div>

                    <h6 class="fs-6 mt-3 mb-1 fw-semibold text-muted">{{ champ.titre }}</h6>

                    <div class="statistiques mt-3">
                        <div class="row row-cols-3 g-2">
                            <div class="col text-center border-end px-2">
                                <h4 class="fs-4 fw-semibold text-color-main text-nowrap">0</h4>
                                <small class="text-muted mt-3 text-nowrap">Quiz</small>
                            </div>
                            <div class="col text-center border-end px-2">
                                <h4 class="fs-4 fw-semibold text-color-main text-nowrap">
                                    {{ reunions ? reunions|length : 0 }}
                                </h4>
                                <small class="text-muted mt-3 text-nowrap">
                                    {{ reunions
                                        ? reunions|length >= 2 ? "Modules" : "Module"
                                        : "Module"
                                    }}
                                </small>
                            </div>
                            <div class="col text-center px-2">
                                <h4 class="fs-4 fw-semibold text-color-main text-nowrap">0:0</h4>
                                <small class="text-muted mt-3 text-nowrap">Durée Moy.</small>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="infos mt-5 px-4">
                    <h5 class="fs-6 text-body-secondary fw-medium mb-3 ">Description</h5>
                    <div class="text-justify" style="font-size: .9rem; text-align: justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, corporis cum nisi
                        perferendis rerum tempore veritatis. Consequuntur cum debitis deserunt distinctio
                        eaque facilis hic magnam maiores mollitia nam, quasi rerum!
                    </div>
                </section>

                <section class="infos mt-5 px-4">
                    <h5 class="fs-6 text-body-secondary fw-medium mb-3 ">Participez</h5>
                    <ul class="list-group list-group-flush">

                        <a href="{{ path('app_champ_reunions',{id: champ.id}) }}"
                           class="list-group-item mb-2 rounded-end rounded-start bg-body-tertiary d-flex justify-content-between align-items-center shadow-sm py-2">
                            <div class="d-flex flex-column">
                                <div class="text-nowrap" style="font-size: .9rem;">Les modules dispensés</div>
                                <small class="text-muted p-0 m-0" style="font-size: .75rem;">
                                    {{ nb_redacteurs ? nb_redacteurs >= 2 ? nb_redacteurs ~ " rédacteurs" : nb_redacteurs ~ " rédacteur"
                                        : "Aucun rédacteur"
                                    }}
                                </small>
                            </div>
                            <div class="d-flex flex-column text-center">
                                <h6 class="h6 text-color-main p-0 m-0">
                                    {{ total_minutes ? total_minutes : 0 }} min
                                </h6>
                                <small class="text-muted p-0 m-0" style="font-size: .75em;">Durée Tot.</small>
                            </div>
                        </a>

                        <a href="{{ path('app_profil_civil') }}"
                           class="list-group-item mb-2 rounded-end rounded-start bg-body-tertiary d-flex justify-content-between align-items-center shadow-sm py-2">
                            <div class="d-flex flex-column">
                                <div class="text-nowrap" style="font-size: .9rem;">Participez au quiz</div>
                                <small class="text-muted p-0 m-0" style="font-size: .75rem;">0 participants</small>
                            </div>
                            <div class="d-flex flex-column text-center">
                                <h6 class="h6 text-color-main p-0 m-0">00:00</h6>
                                <small class="text-muted p-0 m-0" style="font-size: .75em;">Durée Moy.</small>
                            </div>
                        </a>

                    </ul>
                </section>

            </main>
            <div class="" style="margin-top: 50px;">.</div>

        {% endblock %}

    </turbo-frame>
{% endblock %}
