{% extends 'base.html.twig' %}
{% block body %}

    {{ render(url('app_main_header'))}}

    <main class="max-w-sm mx-auto mt-3 mb-5">
        <section class="carousel px-3 border-rou">
            <div class="swiffy-slider slider-item-show2-sm slider-item-ratio slider-nav-arrow slider-nav-visible slider-nav-autohide slider-nav-autoplay  slider-nav-autopause slider-indicators-round slider-indicators-dark slider-indicators-outside slider-indicators-sm slider-nav-animation slider-nav-animation-appear slider-nav-animation-slow slider-nav-mousedrag"
                 data-slider-nav-autoplay-interval="7000">
                <ul class="slider-container" style="">
                    <li class="slide-visible">
                        <div id="slide1">
                            <a href="#">
                                <img src="{{ asset('img/activites/jambognan2.png') }}" alt="" class="img-fluid rounded">
                            </a>
                        </div>
                    </li>
                    <li class="slide-visible">
                        <div id="slide2">
                            <a href="#">
                                <img src="{{ asset('img/activites/jambognan.png') }}" alt="" class="img-fluid rounded">
                            </a>
                        </div>
                    </li>

                </ul>


                <ul class="slider-indicators">
                    <li class="active"></li>
                    <li class=""></li>
                </ul>
            </div>
        </section>

        <section class="champs mt-5 px-3">
            <h5 class="fs-6 text-color-main fw-semibold mb-3">Champs d'activité</h5>
            <div class="row row-cols-3 g-2">
                <div class="col">
                    <div class="card h-100 border-0">
                        <a href="#" class="text-decoration-none text-secondary">
                            <div
                                class="card-body d-flex flex-column justify-content-center align-items-center text-center py-0">
                                <img src="{{ asset('img/champs/01-technique-scout.png') }}" alt=""
                                     class="img-fluid rounded-pill p-1 bg-main-30">
                                <h5 class="fsize-13 py-1">Techniques scoutes</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0">
                        <a href="#" class="text-decoration-none text-secondary">
                            <div
                                class="card-body d-flex flex-column justify-content-center align-items-center text-center py-0">
                                <img src="{{ asset('img/champs/02_civisme.png') }}" alt=""
                                     class="img-fluid rounded-pill p-1 bg-main-30">
                                <h5 class="fsize-13 py-1">Civisme</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0">
                        <a href="#" class="text-decoration-none text-secondary">
                            <div
                                class="card-body d-flex flex-column justify-content-center align-items-center text-center py-0">
                                <img src="{{ asset('img/champs/03-sante.png') }}" alt=""
                                     class="img-fluid rounded-pill p-1 bg-main-30">
                                <h5 class="fsize-13 py-1">Santé</h5>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 border-0">
                        <a href="#" class="text-decoration-none text-secondary">
                            <div
                                class="card-body d-flex flex-column justify-content-center align-items-center text-center py-0">
                                <img src="{{ asset('img/champs/04-technologie.png') }}" alt=""
                                     class="img-fluid rounded-pill p-1 bg-main-30">
                                <h5 class="fsize-13 py-1">T.I.C</h5>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 border-0">
                        <a href="#" class="text-decoration-none text-secondary">
                            <div
                                class="card-body d-flex flex-column justify-content-center align-items-center text-center py-0">
                                <img src="{{ asset('img/champs/05-environnement.png') }}" alt=""
                                     class="img-fluid rounded-pill p-1 bg-main-30">
                                <h5 class="fsize-13 py-1">Environnement</h5>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 border-0">
                        <a href="#" class="text-decoration-none text-secondary">
                            <div
                                class="card-body d-flex flex-column justify-content-center align-items-center text-center py-0">
                                <img src="{{ asset('img/champs/06-education-familliale.png') }}" alt=""
                                     class="img-fluid rounded-pill p-1 bg-main-30">
                                <h5 class="fsize-13 py-1">Vie familliale</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="#" class="text-decoration-none text-color-main fst-italic">Voir plus</a>
            </div>
        </section>

        <section class="progression mt-5 mb-5 px-3">
            <h5 class="fs-6 text-color-main fw-semibold mb-3">Parcours / progression</h5>
            <div class="row row-cols-1 g-2">
                <div class="col mt-3">
                    <div class="card h-100 shadow-sm border-0">
                        <a href="#" class="text-decoration-none text-body-secondary">
                            <div class="card-body py-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-3">
                                        <img src="{{ asset('img/champs/01-technique-scout.png') }}" alt="" class="img-fluid"
                                             loading="lazy">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="fsize-13 mb-0 pb-0">Techniques scoutes et habileté manuelle</h5>
                                        <small class="text-muted fzize-12">Durée: 10min</small>
                                        <div class="progress" role="progressbar" aria-label="techniques scoutes"
                                             aria-valuemin="0" aria-valuenow="50" aria-valuemax="100">
                                            <div class="progress-bar" style="width: 50%;">50%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col mt-3">
                    <div class="card h-100 shadow-sm border-0">
                        <a href="#" class="text-decoration-none text-body-secondary">
                            <div class="card-body py-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-3">
                                        <img src="{{ asset('img/champs/02_civisme.png') }}" alt="" class="img-fluid"
                                             loading="lazy">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="fsize-13 mb-0 pb-0">Civisme</h5>
                                        <small class="text-muted fzize-12">Durée: 30min</small>
                                        <div class="progress" role="progressbar" aria-label="techniques scoutes"
                                             aria-valuemin="0" aria-valuenow="10" aria-valuemax="100">
                                            <div class="progress-bar" style="width: 10%;">10%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col mt-4">
                    <div class="card h-100 shadow-sm border-0">
                        <a href="#" class="text-decoration-none text-body-secondary">
                            <div class="card-body py-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-3">
                                        <img src="{{ asset('img/champs/03-sante.png') }}" alt="" class="img-fluid"
                                             loading="lazy">
                                    </div>
                                    <div class="col-9">
                                        <h5 class="fsize-13 mb-0 pb-0">Santé</h5>
                                        <small class="text-muted fzize-12">Durée: 3min</small>
                                        <div class="progress" role="progressbar" aria-label="techniques scoutes"
                                             aria-valuemin="0" aria-valuenow="80" aria-valuemax="100">
                                            <div class="progress-bar" style="width: 80%;">80%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="text-center mt-5">
                <a href="#" class="text-decoration-none text-color-main fst-italic">Voir plus</a>
            </div>
        </section>
    </main>


    {{ include('default/_nav.html.twig')}}
{% endblock %}
{% block extra_stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
          crossorigin="anonymous">
{% endblock %}
{% block extra_javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
            defer></script>
{% endblock %}
