{% extends 'base.html.twig' %}

{% block body %}
    <header class="max-w-sm mx-auto px-2 py-3 shadow-sm">
        <div class="row">
            <div class="col-3">
                <a href="#" class="retour">
                    <i class="bi bi-arrow-left fs-5"></i>
                </a>
            </div>
            <div class="col-9">
                <h5 class="fs-4">Inscription</h5>
            </div>
        </div>
    </header>
    <main class="d-flex justify-content-center align-items-center" style="height: 80vh">
        <div class="mx-w-sm mx-auto d-flex flex-column justify-content-center align-items-center">
            <img src="{{ asset('img/favico-rvb.png') }}" alt="" class="img-fluid splash_icon" style="width:100px">
            <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                <p class="px-4 text-center fsize-13">
                    Aucun profil scout n'a été trouvé avec le numero de téléphone <b>0709321521</b>.
                </p>
                <p class="px-4 text-center fsize-15 fst-italic fw-semibold">
                    Vuillez sélectionnez votre région pour créer un nouveau profil.
                </p>

                <div class="px-3 mt-4 w-100">
                    <form
                        action="{{ path('app_inscription_choixregion') }}"
                        method="post"
                        data-controller="choix-region"
                        class="w-full flex justify-center"
                    >

                        <div class="row row-cols-2 gap- g-4">
                            {% for region in regions %}
                                <div class="col">
                                    <label
                                        class="card h-100 bg-region shadow-lg border-0 text-center"
                                        data-action="click->choix-region#select"
                                    >
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('__choixRegion') }}">
                                        <input
                                            type="radio"
                                            name="_choix_region"
                                            value="{{ region.id }}"
                                            class="d-none"
                                            {% if region.id == 1 %}checked{% endif %}
                                        >
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center py-3">
                                            <i class="bi bi-geo-alt-fill"></i>
                                            <div class="fsize-16 text-nowrap px-3">{{ region.nom }}</div>
                                            <div class="fsize-14 fw-semibold text-nowrap px-3">{{ region.instanceParent.sigle }}</div>
                                        </div>
                                    </label>
                                </div>
                            {% endfor %}



                        </div>

                    </form>



                </div>
            </div>

        </div>
    </main>

{% endblock %}

{% block title %}{% endblock %}
