{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-white min-h-screen flex flex-col items-center content-center justify-center px-6">
        <!-- Logo -->
        <div class="relative flex items-center justify-center mb-8">
            <img src="{{ asset('img/favico-rvb.png') }}" alt="Logo ScoutReady" class="lazy w-24 animate-bounce">
        </div>

        <!-- Texte d’intro -->
        <p class="text-center font-thin text-gray-700 max-w-sm mb-6">
            Aucun profil scout n'a été trouvé avec ce numéro de téléphone.
        </p>
        <p class="text-center font-semibold italic mb-8">
            Veuillez sélectionner votre région pour créer un nouveau profil
        </p>

        <!-- Formulaire -->
        <form
            action="{{ path('app_inscription_choixregion') }}"
            method="post"
            data-controller="choix-region"
            class="w-full flex justify-center"
        >
            <!-- ✅ ICI : conteneur de largeur fixe pour la grille -->
            <div class="grid grid-cols-2 gap-4 w-[500px]">
                {% for region in regions %}
                    <label
                        class="cursor-pointer block bg-[var(--bg-region)] rounded-lg p-3 py-6 shadow-lg hover:border-blue-500 transition text-center text-white"
                        data-action="click->choix-region#select"
                    >
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('__choixRegion') }}">
                        <input
                            type="radio"
                            name="_choix_region"
                            value="{{ region.id }}"
                            class="hidden"
                            {% if region.id == 1 %}checked{% endif %}
                        >
                        <div class="flex flex-col justify-center items-center content-center text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 font-bold text-center">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"></path>
                            </svg>
                            <div class="text-center font-semibold text-nowrap">
                                {{ region.nom }}
                            </div>
                            <div class="text-center text-sm font-extrabold">{{ region.instanceParent.sigle }}</div>
                        </div>
                    </label>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}

{% block title %}{% endblock %}
