{% extends 'base.html.twig' %}

    {% block turbo_frame %}
        <turbo-frame id="inscription-frame">
            {% block body %}
                <header class="max-w-sm mx-auto px-2 py-3">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('app_inscription_civile') }}" class="retour">
                                <i class="bi bi-arrow-left fs-5"></i>
                            </a>
                        </div>
                        <div class="col-9">
                            <h5 class="fs-4">Inscription</h5>
                        </div>
                    </div>
                </header>

                <main class="vh-100 px-4 max-w-sm mx-auto">
                    <form action="{{ path('app_inscription_scoute') }}"
                          method="post"
                          turbo-visit-control="reload"
                          data-turbo="false"
                          data-action="submit->fonction#validateBeforeSubmit"
                    >
                        <h5 class="fs-5 mt-5 text-center text-color-main">Etape 2/2: Informations scoutes</h5>

                        <div class="position-relative form-floating mt-5">
                            <input type="text"
                                   class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                                   id="inscriptionRegion"
                                   placeholder="Nom de famille"
                                   value="{{ region.nom  }}"
                                   readonly
                            >
                            <label for="inscriptionRegion" class="ms-3">Région sélectionnée</label>
                            <i
                                class="bi bi-geo-alt-fill position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                            <input type="hidden" name="_incription_region" value="{{ region.id }}">

                        </div>

                        <div
                            data-controller="fonction"
                            data-fonction-statut-value="{{ statut.value }}"
                        >

                            {% if statut.value == 'ADULTE' %}
                                <div class="position-relative form-floating mt-3">
                                    <select
                                        id="inscriptionFonction"
                                        class="form-select rounded-start-pill rounded-end-pill input-style  ps-5"
                                        name="_fonction"
                                        data-action="change->fonction#toggleFields"
                                    >
                                        <option value="" disabled selected>-- Sélectionnez la fonction --</option>
                                        {% for fonction in fonctions %}
                                            <option value="{{ fonction.value }}">{{ fonction.label() }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="inscriptionFonction" class="ms-3">Fonction</label>
                                    <i
                                        class="bi bi-briefcase-fill position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                                </div>
                            {% endif %}

                            <div
                                class="position-relative form-floating mt-3"
                                data-fonction-target="district"
                            >
                                <select id="district"
                                        class="form-select rounded-start-pill rounded-end-pill input-style  ps-5"
                                        name="_district"
                                        data-fonction-target="districtselected"
                                        data-action="change->fonction#loadGroupes"
                                >
                                    <option value="" disabled selected>-- Selectionnez le district --</option>
                                    {% for district in districts %}
                                        <option value="{{ district.id }}">{{ district.nom }}</option>
                                    {% endfor %}
                                </select>
                                <label for="district" class="ms-3">District</label>
                                <i
                                    class="bi bi-building position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                            </div>

                            <div
                                class="position-relative form-floating mt-3"
                                data-fonction-target="groupe"
                            >
                                <select
                                    id="groupe"
                                    class="form-select rounded-start-pill rounded-end-pill input-style  ps-5"
                                    name="_inscription_groupe"
                                    data-fonction-target="groupelist"
                                >
                                    <option value="" disabled selected>-- Sélectionnez le groupe --</option>
                                </select>
                                <label for="groupe" class="ms-3">Groupe</label>
                                <i class="bi bi-house-add position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                            </div>


                            <div
                                class="position-relative form-floating mt-3"
                                data-fonction-target="branche"
                            >
                                <select
                                    id="inscriptionBranche"
                                    class="form-select rounded-start-pill rounded-end-pill input-style  ps-5"
                                    name="_inscription_branche"
                                    data-fonction-target="brancheselect"
                                >
                                    {% if statut.value == 'ADULTE' %}
                                        <option value="" disabled selected>-- Selectionnez la branche --</option>
                                        <option value="LOUVETEAU">Louveteau</option>
                                        <option value="ECLAIREUR">Éclaireur</option>
                                        <option value="CHEMINOT">Cheminot</option>
                                        <option value="ROUTIER">Routier</option>
                                    {% else %}
                                        {% if age < 12 %}
                                            <option value="LOUVETEAU" selected>Louveteau</option>
                                        {% elseif age >= 12 and age < 15 %}
                                            <option value="ECLAIREUR" selected>Éclaireur</option>
                                        {% elseif age >= 15 and age < 18 %}
                                            <option value="CHEMINOT" selected>Cheminot</option>
                                        {% else %}
                                            <option value="ROUTIER" selected>Routier</option>
                                        {% endif %}
                                    {% endif %}

                                </select>
                                <label for="inscriptionBranche" class="ms-3">Branche</label>
                                <i class="bi bi-stack position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                            </div>

                            {% if statut.value == 'ADULTE' %}
                                <div class="position-relative form-floating mt-3">
                                    <input type="text"
                                           class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                                           id="inscriptionPostedetails"
                                           name="_inscription_poste"
                                           autocomplete="off"
                                    >
                                    <label for="inscriptionPostedetails" class="ms-3">Poste, Ex: ACR Finances, CDBR, Akela...</label>
                                    <i
                                        class="bi bi-cup-hot-fill position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                                </div>
                            {% endif %}

                        </div>

                        <div class="form-check mt-3">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="inscriptionConfidentialite"
                                   name="_inscription_confidentialite"
                                   required
                            >
                            <label class="form-check-label" for="inscriptionConfidentialite">
                                <a href="https://scoutready.net/confidentialite/" target="_blank" class="text-decoration-none text-color-main">J'ai lu et j'accepte la Politique de confidentialité</a>
                            </label>
                        </div>

                        <div class="form-check mt-3">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="incriptionCgu"
                                   required
                                   name="_inscription_conditions"
                            >
                            <label class="form-check-label" for="incriptionCgu">
                                <a href="https://scoutready.net/cgu/" target="_blank" class="text-decoration-none text-color-main">J'ai lu et j'accepte les Conditions générales d'utilisation</a>
                            </label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('_scout_token') }}">

                        <div class="d-grid gap-2 mt-5">
                            <div class="row row-cols-2">
                                <div class="col d-grid gap-2">
                                    <a href="{{ path('app_inscription_civile') }}" class="btn btn-outline-secondary btn-lg">Retour</a>
                                </div>
                                <div class="col d-grid gap-2">
                                    <button
                                        type="submit"
                                        class="btn btn-main btn-lg"
                                        data-inscription-target="button"
                                    >
                                        S'inscrire
                                    </button>
                                </div>
                            </div>


                        </div>

                    </form>
                </main>

            {% endblock %}
        </turbo-frame>
    {% endblock %}

