<div{{ attributes }}>

    <div class="px-4 me-auto">
        <form onsubmit="return false;">
            <div class="position-relative form-floating mt-3">
                <input type="text"
                       class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                       id="filtreScout"
                       placeholder="Nom, prenom ou fonction"
                    {#                       autocomplete="off"#}
                       data-model="query"
                >
                <label for="filtreScout" class="ms-3">Recherchez</label>
                <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
            </div>
        </form>
    </div>

    <section class="liste mt-1 px-4"
    >
        {% set total = this.totalParticipants %}
        {% set count = this.participants|length %}
        {# Calcul du nombre affiché (ex: 5 sur 150) #}
        {#        {% set displayed = (page * 2) > total ? total : (page * 2) %}#}

        {% if this.participants is not empty %}
            <div class="mt-5">
                <h6 class="text-muted">{{ count }} sur {{ total }} participants</h6>
                <div class="row row-cols-1">
                    {% for participant in this.participants %}
                        <div class="col d-flex justify-content-start align-content-start shadow-sm py-2">
                            <a href="{{ path('app_communaute_membre', {'slug': participant.scout.slug}) }}" class="text-decoration-none text-secondary url-membre">
                                <div class="row g-2 d-flex align-items-center">
                                    <div class="col-3">
                                        <div
                                            data-controller="image-loader"
                                            data-image-loader-src-value="{{ participant.scout.slug|avatar }}"
                                            data-image-loader-native-src-value="asset://{{ asset('img/avatar/avatar_femme.png') }}"
                                            data-image-loader-preload-value="true"
                                            data-communaute-target="avatarLoader"
                                        >
                                            <img alt="" class="img-fluid">
                                        </div>

                                    </div>
                                    <div class="col-9">
                                        <h5 class="fsize-13 text-body mb-0 pb-0">{{ participant.scout.nom }} {{ participant.scout.prenom }}</h5>
                                        <div class="fsize-12 text-color-main mb-0 pb-0 js-fonction">{{ participant.scout.id|fonction_scoute|raw }}</div>
                                        <div class="text-muted fsize-12 fst-italic mt-0 pt-0 js-instance">{{ participant.scout.id|instance_scoute|raw }}</div>
                                        <span class="text-end fst-italic w-100" style="font-size: .55rem;">{{ participant.pointageAt|date('Y-m-d H:i:s') }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
                {% if count < total %}
                    <div class="text-center mt-5">
                        <button type="button"
                                class="btn btn-sm btn-outline-primary fst-italic"
                                data-action="live#update"
                                data-model="limit"
                                data-value="{{ limit + 10 }}"
                        >
                            <span data-loading="addClass(d-none)">Charger plus</span>
                            <span class="d-none" data-loading="removeClass(d-none)">
                                <span class="spinner-border spinner-border-sm" role="status"></span> Chargement...
                            </span>
                        </button>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="text-center mt-5">
                <p class="text-muted fst-italic">Aucun résultat trouvé pour "{{ query }}"</p>
            </div>
        {% endif %}

    </section>

</div>
